.ui-slider .ui-slider-range {
    background-color: #f59121;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #f59121;
    background: #ffffff;
    font-weight: normal;
    color: #ffffff;
}

.price_range {
    line-height: 30px;
    width: 100px;
    padding-left: 5px;
}

.range {
    margin: 0px 20px;
}

.price_range_div {
    display: flex;
    justify-content: center;

}

.group_color {
    display: flow-root;
}


.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #dedede;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #d3d3d3;
}

#black .option-input:checked {
    background: #464141;
}

#red .option-input:checked {
    background: #e01919;
}

#brown .option-input:checked {
    background: #a56c3e;
}

#grey .option-input:checked {
    background: #989494;
}

#blue .option-input:checked {
    background: #479df3;
}

#green .option-input:checked {
    background: #2ca21d;
}

#orange .option-input:checked {
    background: #ffba00;
}

#violet .option-input:checked {
    background: #8e0270;
}

.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}
